stages:
- build
- test-validate
- plan

variables:
  SECRET_DETECTION_ENABLED: 'true'

include:
- template: Security/Secret-Detection.gitlab-ci.yml

secret_detection:
  stage: test-validate
  tags:
    - playground-bravo

check_secrets:
  stage: test-validate
  tags:
    - playground-bravo
  needs:
    - job: secret_detection
      artifacts: true
  script:
    - |
      if [ ! -f "gl-secret-detection-report.json" ]; then
        echo "Secret detection report not found!"
        exit 1
      fi

      if [ "$(jq '.vulnerabilities | length' gl-secret-detection-report.json)" -gt 0 ]; then
        echo "Secrets detected in the codebase!"
        jq -r '.vulnerabilities[] | "- \(.message) in \(.location.file):\(.location.start_line)"' \
          gl-secret-detection-report.json
        exit 1
      else
        echo "No secrets detected"
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

