stages:
- static-test
- validate
- build

variables:
  SECRET_DETECTION_ENABLED: 'true'

include:
- template: Security/Secret-Detection.gitlab-ci.yml

secret_detection:
  stage: static-test
  tags:
    - playground-bravo

check_secrets:
  stage: validate
  image: apteno/alpine-jq:latest
  tags:
    - playground-bravo
  needs:
    - job: secret_detection
      artifacts: true
  script:
    - |
      if [ ! -f "gl-secret-detection-report.json" ]; then
        echo "Secret detection report not found!"
        exit 1
      fi

      if [ "$(jq '.vulnerabilities | length' gl-secret-detection-report.json)" -gt 0 ]; then
        echo "Secrets detected in the codebase!"
        jq -r '.vulnerabilities[] | "- \(.message) in \(.location.file):\(.location.start_line)"' \
          gl-secret-detection-report.json
        exit 1
      else
        echo "No secrets detected"
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

build_image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  tags:
    - playground-bravo
  needs:
    - job: check_secrets
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}"
      --destination "${CI_REGISTRY_IMAGE}:latest"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

